@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.slideshow-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.element-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    div {
        background-color: black;
        opacity: 30%;
        padding: 15px;
        transition: all 100ms linear;
    }
    div:hover {
        opacity: 100%;
    }
}

.slideshow-image img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
.slideshow-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    .element-numbering {
        align-self: flex-start;
        margin-left: 15px;
        background-color: rgba(0, 0, 0, 0.47);
        padding-left: 20px;
        padding-right: 20px;
    }
}
.spacer {
    height: 50px;
}
 .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .element-caption {
    text-align: justify;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
 }

.slideshow-dots {
    display: flex;
    column-gap: 5px;
    font-size: 1rem;
    margin-top: 10px;
}
.slideshow-dots .active {
    color: aqua;
}