
.heading {
    color: brown;
    background-color: lime;
    padding: 10px;
    border-radius: 4px;
}
.heading.orange{
    background-color: orange;
    padding: 10px;
    border-radius: 4px;
    color: brown;
}
