header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}
header ul {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
}
header ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 10px;
}
header ul li a {
    text-decoration: none;
}